django
python-decouple
sentence_transformers
weaviate
gunicorn
requests
Celery
Redis
python-dotenv
django-celery-beat
django-celery-results
llama-index
llama-parse
langchain-ollama
jupyter
transformers 
torch

